/*css page for the rest of the website, excluding landing page*/
.float_middle_text {
	margin: auto;
	display: block;
	width: 600px;
	text-align: justify;
	font-family: sans-serif;
	color: #040654;
	font-size: 20px;
}
h1 {
  margin: auto;
	display: block;
	Width: 600px;
  text-align: justify;
  font-family: sans-serif;
  color: #040654;
  font-size: 32px;
}
h2 {
	margin: auto;
	display: block;
	width: 600px;
	text-align: justify;
	font-family: sans-serif;
	color: #040654;
	font-size: 24px;
}
