/* CSS Document */

@charset "utf-8";

/*---- Map ----*/

.map {
    width: 100%;
    border: 0;
}

/*---- Paralax ----*/

.parallax_index {
  /* The image used */
  background-image: url("images/dcc_flickr_img/14678386804_7cfe924d92_o.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}

/*---- Paralax ----*/

.parallax_index2 {
  /* The image used */
  background-image: url("images/NorthViewDunedin.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---- Scaling ----*/
/*-- Mobile --*/

.parallax_index {
    /* Set a specific height */
    min-height: 300px;
}

.map {
    height: 200px;
}

/*-- Tablets --*/
@media only screen and (min-width: 600px) {
    .parallax_index {
        /* Set a specific height */
        min-height: 350px;
    }

    .map {
        height: 200px;
    }
}

/*-- Laptop & Desktop --*/
@media only screen and (min-width: 768px) {
    .parallax_index {
        /* Set a specific height */
        min-height: 400px;
    }

    .map {
        height: 450px;
    }
}
