/* CSS Document */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*---- Mobile Navbar ----*/
.mobile_nav {
    overflow: hidden;
    background-color: #111;
    top: 0;
    position: sticky;
}

.mobile_nav #mobile_links {
    display: none;
}

.mobile_nav a {
    color: #FFFFFF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.mobile_nav a.icon {
    background: gray;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.mobile_nav a:hover {
    background-color: #ddd;
    color: black;
}

.mobile_nav_logo {
    height: 28px;
    width: auto;
    padding: 8px;
    margin-left: 5px;
}

/*---- Standard Navbar ----*/

.nav {
	position: sticky;
	top: 0;
}

.nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #111;
}

.nav a {
	font-size: 120%;
	font-family: 'Noto Sans', sans-serif;
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 45px 16px ;
	text-decoration: none;
    float: right;
}

.nav a:hover {
	background-color: #ddd;
    color: #111;
}

.nav_logo {
    padding-top: 25px;
	margin-left: 15px;
	width: auto;
	height: 60px;
    float: left;
}

/*--- Active class ---*/
/* Changes background-color for the link of the current page you are on */
.active {
	background-color: darkgray;
}

/*---- Navbar Scaling ----*/
/*-- big screens --*/
.mobile_nav {
    display: none;
}

nav {
    display: block;
}

/*-- small screens --*/

@media screen and (max-width: 768px) {
	.mobile_nav {
        display: block;
    }
    .nav {
        display: none;
    }
}

