@charset "utf-8";

/* CSS Document */

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: black;
  background-image: url("Images/new_background.jpg");
  margin-bottom: 150px;
  padding-bottom: 14%;
}



/* Accordion */
.accordion {
  background-color: #FC9501;
  color: white;
  cursor: pointer;
  width: 60%;
  outline: none;
  font-size: 25px;
  border: solid;
  text-align: center;
  margin: auto;
  display: block;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  border-radius: 15px;
  margin-top: 15px;
  cursor: default;

}
.panel{
  display: block;
  background-color: white;
  overflow: hidden;
  width: 80%;
  border: solid;
  margin: auto;
  border-radius: 15px;
  padding-left: 10px;
  color: black;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

}
.panel0{
  display: block;
  background-color: white;
  overflow: hidden;
  width: 59%;
  padding-top: -10px;
  border: solid;
  margin: auto;
  border-radius: 15px;
  padding-left: 10px;
}
.panel1{
  display: none;
  background-color: white;
  overflow: hidden;
  width: 59%;
  padding-top: -10px;
  border: solid;
  margin: auto;
  border-radius: 15px;
  padding-left: 10px;
}
.panel2{
  display: none;
  background-color: white;
  overflow: hidden;
  width: 59%;
  padding-top: -10px;
  border: solid;
  margin: auto;
  border-radius: 15px;
  padding-left: 10px;
}
.panel3{
  display: none;
  background-color: white;
  overflow: hidden;
  width: 59%;
  padding-top: -10px;
  border: solid;
  margin: auto;
  border-radius: 15px;
  padding-left: 10px;
}
.panel4{
  display: none;
  background-color: white;
  overflow: hidden;
  width: 59%;
  padding-top: -10px;
  border: solid;
  margin: auto;
  border-radius: 15px;
  padding-left: 10px;
}
.panel5{
  display: none;
  background-color: white;
  overflow: hidden;
  width: 59%;
  padding-top: -10px;
  border: solid;
  margin: auto;
  border-radius: 15px;
  padding-left: 10px;
}

input[type=text] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=tel] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:invalid {
	background-color: pink;
}
input[readonly] {
	background-color: lightyellow;
}
input[type="range"] {
	width: 280px;
}
.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
.topnav img {
	float: left;
	height: 100px;
	padding-left: 25px;
}
.bookbar {
  overflow: hidden;
  background-color: #5E5E5E;
  text-align: center;
}

.bookbar p {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding-left: 10px;
}

  .bookbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
.bookbar img {
	float: left;
	height: 100px;
	padding-left: 25px;
}
@media screen and (max-width: 920px) {
	.accordion {
		width: 90%;
	}
	.panel0{
		width: 89%;
	}
	.panel1{
		width: 89%;
	}
	.panel2{
		width: 89%;
	}
	.panel3{
		width: 89%;
	}
	.panel4{
		width: 89%;
	}
	.panel5{
		width: 89%;
	}
}

.resetButton{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	background: #ed3330;
	padding: 12px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
.nextButton{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	background-color: lightgreen;
	padding: 12px;
	border-radius: 5px;
	margin-bottom: 2px;
	margin-right: 10px;
	display: inline-block;
	float: right;
	border: none;
	transition: all 0.4s ease 0s;
}
.backButton{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	background-color: indianred;
	padding: 12px;
	margin-bottom: 2px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
.container{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
    width: 75%;
    height: auto;
    margin: 30px auto;
}
.box{
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-right: 1%;
    background: white;
    border-radius: 10px;
    transition: 0.9;
}

.box:hover{
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
    cursor: pointer;
}
.container img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container h3,p{
    text-align: left;
    color: rgb(104, 92, 92);
	margin-left: 5px;
}
.container p{
    font-size: 15px;
    padding: 0 5px;
}
@media (max-width: 800px){
    .container{
        width: 100%;
    }
}
@media (max-width: 600px){
    .container{
        width: 85%;
        display: block;
    }
    .box{
        width: 100%;
        margin-bottom: 4%;
    }
}
.blank{
	opacity: 1;		
}
h1{
	color: black;
    text-align: center;
}
h2{
	color: white;
	text-align: center;
}

.errorMessages{
	text-align: left;
	color: red;
	font-style: italic;
}
.selectButton{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	background-color: lightgreen;
	padding: 12px;
	border-radius: 5px;
	margin-bottom: 2px;
	display: inline-block;
	float:none;
	border: none;
	transition: all 0.4s ease 0s;
}
.infobar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   display: block;
   font-size: 20px;
   height: 14%;
   font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  
}
.infobar, p{
	text-align: center;
}
