/* CSS Document */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*---- Body Background ----*/

body {
    width: 100%;
    margin: auto;
	padding-bottom: 0;
    background-image: url("images/dunedin_aerial.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---- Body Content ----*/

.box {
    top: 50px;
    bottom: 50px;
    display: block;
    position: fixed;
    margin: auto;
    padding: 5px;
    background-color: rgba(8, 8, 8, 0.7);
    color: #FFFFFF;
   	font-size: medium;
   	text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.content {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
	font-size: medium;
    text-align: center;
    top: 200px;
    display: block;
    position: fixed;
}

.content_img_title img {
    top: 90px;
    display: block;
    position: fixed;
}

.reference {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
	font-size: small;
    text-align: center;
    bottom: 60px;
    width: 100%;
    display: block;
    position: fixed;
}

.reference a {
    color: #FFFFFF;
    text_decoration: underline;
}

.reference a:hover {
    text_decoration: none;
    color: #9200DB;
}

/*---- Scaling ----*/
/*-- Mobile --*/
.box, .content, .content_img_title img {
    left: 5%;
    right: 5%;
}

.content_img_title img {
    left: 7.5%;
    right: 7.5%;
    width: 85%;
}

/*-- Tablets --*/
@media only screen and (min-width: 600px) {
    .box, .content {
        left: 10%;
        right: 10%;
    }

    .content_img_title img {
        left: 15%;
        right: 15%;
        width: 70%;
    }
}

/*-- Laptop & Desktop --*/
@media only screen and (min-width: 768px) {
    .box, .content {
        left: 20%;
        right: 20%;
    }

    .content_img_title img {
        left: 30%;
        right: 30%;
        width: 40%;
    }
}