@charset "utf-8"; /* Charset  */
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700'); /* Imports Fonts  */


h1 { /* Controls H1 elements  */
	text-align: center; 
	font-size: 40px;
	text-decoration: underline;
}
h2 { /* Controls h2 elements  */
	text-align: center;
	font-size: 30px;
}
p{ /* Controls p elements  */
	text-align: center;
	font-size: 25px;
}
.centerimg { /* Controls centerimg class elements  */
  display: block; /* makes display block  */
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.centerimg2 { /* Controls centerimg class2 elements  */
  display: block; /* makes display block  */
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.centerimg3 { /* Controls centerimg class3 elements  */
  display: block; /* makes display block  */
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

html,
body { /* Controls html,body elements  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
a{ /* Controls a elements  */
	font-size: 25px
}
@media screen and (min-width: 601px){ /* Checks for devices bigger than 601px  */
	  .main_content, p{
		text-align: center;
		margin-left: 80px;
		margin-right: 80px;
	}
}
@media screen and (max-width: 600px){ /*Checks for devices smaller than 600px */
	  .main_content, p{
		text-align: center;
		margin-left: 40px;
		margin-right: 40px;
	}
}


/* Navbar section */

.nav { /* Controls nav elements  */
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo { /* Controls nav div.logo elements  */
    float: left;
    width: 10px;
    height: 5px;
    padding-left: 3rem;
}

.nav div.logo a { /* Controls div.logo a elements  */
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover { /* Controls div.logo a:hover elements  */
    color: #CAC955;
}

.nav div.main_list { /* Controls div.mainlist elements  */
    height: 65px;
    float: right;
	font-weight: 500;
}
.nav div.main_list ul li a.active { /* Controls div.mainlist ul li a.active elements  */
	color: #CAC955;
}

.nav div.main_list ul { /* Controls div.mainlist ul elements  */
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li { /* Controls div.mainlist ul li elements  */
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a { /* Controls div.mainlist ul li a elements  */
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover { /* Controls div.mainlist ul li a:hover elements  */
    color: #FFF27C;
}


/* Home section */

.home { /*Controls Home Elements*/
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
	background-size:cover;
}

.navTrigger { /*Controls Nav Trigger Elements*/
    display: none;
}

.nav { /*Controls nav Elements*/
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) { /*checks screen size*/
    .container { /*Controls container class Elements*/
        margin: 0;
    }
}

@media screen and (max-width:768px) { /*Checks screen size*/
    .navTrigger {
        display: block;
    }
    .nav div.logo { /* Controls .nav div.logo elements  */
        margin-left: 15px;
    }
    .nav div.main_list { /* Controls .nav div.mainlist elements  */
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list { /* Controls .nav div.showlist elements  */
        height: auto;
        display: none;
    }
    .nav div.main_list ul { /* Controls .nav div.mainlist ul elements  */
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
		top: 0;
        background-color: #000;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {  /* Controls .nav div.mainlist ul li elements  */
        width: 100%;
        text-align: center;
    }
    .nav div.main_list ul li a { /* Controls .nav div.mainlist ul li a elements  */
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button { /* Controls .nav div.media_button ul elements  */
        display: block;
    }
}
footer{ /*Controls footer Elements*/
  background: #000;
  padding: 20px 0;
}

.footer_container{ /*Controls footer_container class Elements*/
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo{ /*Controls logo class Elements*/
  width: 180px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.social_media{ /*Controls social.media class Elements*/
	text-align: center;
	align-content: center;
}

.social_media a{ /*Controls social.media a class Elements*/
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: .6s;
}

.social_media a:hover{ /*Controls social.media a:hober class Elements*/
  color: gold;
}



.navTrigger { /*Controls navtrigger class Elements*/
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i { /*Controls navtrigger i class Elements*/
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}
/* All Code below controls nav bar animations */
.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}
/*Nav bar animations over */
.affix { /*Controls affix class Elements*/
    padding: 0;
    background-color: #000;
}

.myH2 { /*Controls myh2 class Elements*/
	text-align:center;
	font-size: 4rem;
}
.myP { /*Controls myp class Elements*/
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){ /*Checks screen size*/
	.myP {
		padding:2%;
	}
}


.bg-img { /*Controls bgimg class Elements*/
  /* The image used */
  background-image: url("images/disconnected/landscape.PNG");

  min-height: 500px;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
.bg-img2 { /*Controls bgimg class Elements*/
  /* The image used */
  background-image: url("images/disconnected/cave.PNG");

  min-height: 500px;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
.bg-img3 { /*Controls bgimg class Elements*/
  /* The image used */
  background-image: url("images/underlife/sewerimage.PNG");

  min-height: 500px;

  /* Center and scale the image  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
.bg-img4 { /*Controls bgimg class Elements*/
  /* The image used */
  background-image: url("images/about/codingbackground.jpg");

  min-height: 500px;

  /* Center and scale the image  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

